* {
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

/*to give a navigation bar that can be viewed throughout the page*/
header {
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 15px;
    background-color: black;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Hide scrollbars */
  }

/*to display name at the top left*/
header h1 {
    display: inline-block;
    font-size: 36px;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

header li {
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    margin-right: 30px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .underline {
    background-color: white;
}

section {
    position: relative;
    font-size: 1.5rem;
}

#about-me {
    margin: 30px;
}

.about-me-contents {
    text-align: center;
}

.about-me-title {
    text-align: center;
}

.about-me-contents img {
    border-radius: 30px;
    width: 25%;
    width: 500px;
    height: 500px;
    margin: 20px;
}

nav {
    float: right;
    color: white;
}

nav a:hover {
    font-size: 1.1rem;
    color: violet;
    transition: all 2s ease;
    color:rgb(68, 0, 255);
    border-radius: 10px;
    background-color:aquamarine;
    padding: 10px 10px;
    box-shadow: 12px 5px 2px 1px gold;
}

#contact-container li:hover {
    font-size: 1.1rem;
    color: violet;
    transition: all 2s ease;
    color:rgb(68, 0, 255);
    border-radius: 10px;
    background-color:aquamarine;
    padding: 10px 10px;
    box-shadow: 12px 5px 2px 1px gold;
}

h3:hover{
    border-bottom: 2x solid black;
    border-radius: 10px;
    background-color:aquamarine;
    padding: 10px 10px;
    box-shadow: 12px 5px 2px 1px gold;
    transition: all 2s ease;
}

/*to have an all-encompassing background*/
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRucRqyE9f4Ymn-U_YD_bqscy5KQAaHPBr4gQ&usqp=CAU");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

#header2 {
    width: 100%;
}

h2 {
    display: flex;
    flex-direction: column;
    border: 3px;
    border-style: groove;
    border-radius: 30px;
    border-color: rgba(196, 77, 41, 0.64);
    background: rgba(44, 43, 39, 0.7);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color:tomato;
    font-weight: bold;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    gap: 30px;
}

.about-me-contents p{
    font-size: 20px;
    padding: 30px;
    border: 3px;
    border-style: groove;
    border-radius: 30px;
    border-color: rgba(196, 77, 41, 0.64);
    background: rgba(44, 43, 39, 0.7);
    box-sizing: border-box;
}

#work {
    margin: 30px;
}
.work-title {
    display: flex;
    justify-content: center;
}

.work-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


#primary {
    max-width: 100%;
}

/* to have it the size of its container but also have a minimum size it can be*/
#primary img {
    width: 100%;
    width: 1000px;
    height: 1000px;
}


.work-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    border: 3px;
    border-style: groove;
    border-radius: 25px;
    border-color: rgba(196, 77, 41, 0.64);
    background: rgba(44, 43, 39, 0.7);
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin: 25px;
    max-width: 45%;
}

.work-card img {
    border-radius: 30px;
    max-width: 100%;
    width: 400px;
    height: 500px;
    opacity: 0.3;

}

.work-card h4 {
    font-size: 30px;
    position: relative;
    z-index: 1;
    bottom: 10px;
    left: 10px;
}

#contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin: 0;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 100px;
}

li.underline {
    display: block;
    padding: 30px;
    border: 3px;
    border-style: groove;
    border-radius: 30px;
    border-color: rgba(196, 77, 41, 0.64);
    background: rgba(44, 43, 39, 0.7);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color:tomato;
    font-weight: bold;
}

.contact-me-title {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    margin-bottom: -30px;

}

#contact-me nav {
    text-align: center;
    justify-content: center;
    align-items:center;
    font-size: 20px;
    padding: 30px;
    border: 2px;
    border-style: groove;
    border-radius: 30px;
    border-color: rgba(196, 77, 41, 0.64);
    background: rgba(44, 43, 39, 0.7);
    box-sizing: border-box;
}

#contact-me ul {
    border: 3px solid gold;
    padding: -20px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: orange;
}

#contact-me li {
    margin: 30px;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}

#contact-me {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    border-bottom: 5px;
}

.work-card:hover {
    background-color: salmon;
    filter: invert(0);
    transition: all 2s ease;
}

/*makes cursor turn into a pointer finger instead of just the mouse*/
.work-card p:hover {
    color:royalblue;
    cursor: pointer;
}

.work-card h4:hover {
    color: royalblue;
    cursor: pointer;
}

/*puts focus on the img when hovered*/
.work-card img:hover{
    opacity: 1;
    transition: opacity 2s ease;
    cursor: pointer; 
}

#contact-container {
    margin-top: 150px;
}


@media screen and (max-width: 1258px) {
    /* makes it so that you can read the page under the navigation bar*/
    header{
        opacity: 0.5;
    }

    header h1{
        width: 50%;
    }

    #primary img {
        width: 1000px;
        height: 1000px;
    }

    .work-card h4{
        font-size: 25px;
        height: 60px;
        position: relative;
        z-index: 1;
        top: 10px;
        left: 10px;
    }
}

@media screen and (max-width: 992px) {
    /* makes it so that you can read the page under the navigation bar*/
    header{
        opacity: 0.3;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    header{
        display: block;
    }

    header h1 {
        width: 60%;
    }


    header ul li {
        display: table-row;
        margin-right: 30px;
    }
    
    #primary {
        width: 90%;
    }

    .work-card {
        width: 40%;
    }

    .work-card p {
        right: 35%;
    }

    #contact-container ul li {
        margin-bottom: 30px;

    }

    #contact-container ul {
        padding: 20px;
    }

    #primary img{
        width: 500px;
        height: 500px;
        width: 90%;
        max-width: 90%;
    }

    .work-card {
        width: 90%;
        max-width: 90%;
    }

}


@media screen and (max-width: 501px) {
    /* makes it so that you can read the page under the navigation bar*/
    header{
        opacity: 0.1;
    }

    #work{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    #primary h4{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    #primary img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        
    }


    /* to size photo but not take away from work cards*/
    .about-me-contents img{
        width: 250px;
        height: 250px;
        width: 250px;
        height: 250px;
    }

    /*to have the cards stack one on top of each other*/
    .work-card {
        width: 90%;
        max-width: 90%;
        display: flex;
        justify-content: center;
        align-items: left;
    }

    .work-card p {
        font-size: 16px;
    }
}



