* {
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

header {
    display: fixed;
    width: 100%;
    z-index: 1;
    padding: 30px;
}

header h1 {
    display: inline-block;
    font-size: 32px;
    padding-right: 5px;
}

header li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    padding: 20px;
    font-size: 24px;
}

nav {
    float: right;
    color: white;
}

nav a:hover {
    font-size: 1.25rem;
    color:violet;
    transition: font-size 2s ease;
}


body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRucRqyE9f4Ymn-U_YD_bqscy5KQAaHPBr4gQ&usqp=CAU");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

h2 {
    display: flex;
    justify-content: right;
    align-items: top;
    border-right: 3px solid white;

}

#header2 {
    width: 100%;
}

.about-me-contents {
    display: flex;
    margin: 30px;
}

.work-contents {
    display: flex;
    margin: 30px;
}

.primary-work-card{
    flex-grow: 1;
}

.work-card {
    display: flex;
    background-color: salmon;
}


.contact-me-contents {
    display: flex;
    background-color:violet;
    border-radius: 30px;
    margin: 30px;
}

h4 {
    padding: 10px;
}

#about-me {
    display: flex;
}

#work{
    display: flex;
}

h3 {
    position: absolute;
    color:brown;
    left: 90%;
    bottom: 80%;
    
    -webkit-transition: color 2s;
    transition: color 2s;
}

h3:hover{
    color:rgb(68, 0, 255);
    border-bottom: 2x solid black;
    border-radius: 10px;
    background-color:aquamarine;
    padding: 10px 10px;
    box-shadow: 12px 5px 2px 1px gold;
}

#contact-me {
    display: flex;
}


a:hover {
    color:rgb(68, 0, 255);
    border-radius: 10px;
    background-color:aquamarine;
    padding: 10px 10px;
    box-shadow: 12px 5px 2px 1px gold;
}

#contact-me ul{
    padding: 10px;
}

#contact-me li{
    margin: 30px;
}